{% extends '@Contao/block_searchable' %}

{% block content %}
    {% do addCssResource('bundles/code4nixcontaocsvimporter/css/style.css') %}

    <div>
        <button{% if display_mode == 'minimize_table' %} disabled{% endif %} id="btnHideDetails">Reduzierte Ansicht</button>
        <button{% if display_mode == 'maximize_table' %} disabled{% endif %} id="btnShowAll">Alle Spalten anzeigen</button>
    </div>

    <form id="filterSearchForm">
        <input type="text" id="filterSearch" name="suche" placeholder="Search..." data-search>
        <button id="filterSearchSubmitBtn" type="submit">Suche starten</button>
        <button id="filterSearchResetBtn" type="reset">Zurücksetzen</button>
    </form>

    <div id="filterContainer">
        <table>
            <tr>
                <th>Art.-Nr.</th>
                <th>Variantencode</th>
                <th>Weingut</th>
                <th>Flaschengröße</th>
                <th>Jahrgang</th>
                <th>Beschreibung 1</th>
                <th data-displaymode="{{ display_mode }}">Beschreibung 2</th>
                <th>Ökologisch</th>
                <th>Preis/Fl. netto</th>
                <th>Verfügbar</th>
                <th data-displaymode="{{ display_mode }}">Lagerbestand</th>
                <th data-displaymode="{{ display_mode }}">In Auftrag</th>
                <th data-displaymode="{{ display_mode }}">In Bestellung</th>
                <th data-displaymode="{{ display_mode }}">Wareneingang am</th>
            </tr>
            {% for product in products %}
                <tr class="filter-item" style data-category="{{ product.weingut }}">
                    <td data-search>{{ product.art_nr }}</td>
                    <td data-search>{{ product.variantencode }}</td>
                    <td data-search>{{ product.weingut }}</td>
                    <td>{{ product.flaschengroesse }}</td>
                    <td data-search>{{ product.jahrgang }}</td>
                    <td data-search>{{ product.beschreibung_1 }}</td>
                    <td data-displaymode="{{ display_mode }}" data-search>{{ product.beschreibung_2 }}</td>
                    <td>{{ product.oekologisch }}</td>
                    <td>{{ product.preis_pro_flasche }}</td>
                    <td>{{ product.verfuegbar }}</td>
                    <td data-displaymode="{{ display_mode }}">{{ product.lagerbestand }}</td>
                    <td data-displaymode="{{ display_mode }}">{{ product.in_auftrag }}</td>
                    <td data-displaymode="{{ display_mode }}">{{ product.in_bestellung }}</td>
                    <td data-displaymode="{{ display_mode }}">{{ product.wareneingang_am }}</td>
                </tr>
            {% endfor %}
        </table>
    </div>

    <script src="bundles/code4nixcontaocsvimporter/js/filter.js"></script>
    <script>
        filterProductListingTable('filterContainer', 'filterSearchForm', 'filterSearch', 'filter-item');
    </script>

{% endblock %}
